@import url("/home/artem/.cache/wal/colors-waybar.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 1);
}

button {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border-color: @color6;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 55%;
        opacity: 0.7;
}

button:focus, button:active, button:hover {
	background-color: @color6;
	outline-style: solid;
        opacity: 1;
}

#lock {
    background-image: url("./assets/lock.svg");
}

#logout {
    background-image: url("./assets/logout.svg");
}

#suspend {
    background-image: url("./assets/suspend.svg");
}

#hibernate {
    background-image: url("./assets/hibernate.svg");
}

#shutdown {
    background-image: url("./assets/shutdown.svg");
}

#reboot {
    background-image: url("./assets/reboot.svg");
}
